@media (max-width: 768px) {
    .nav-links {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: rgba(0, 0, 0, 0.9);
        text-align: left;
        justify-content: center;
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        z-index: 999;
        
        /* Ocultar inicialmente */
        transform: translateY(-100%);
        opacity: 0;
        visibility: hidden;
        
        /* Agregamos transición suave */
        transition: transform 0.4s ease-in-out, opacity 0.3s ease-in-out, visibility 0.3s;
    }

    .nav-links a {
        width: 100%;
        display: block;
        /* text-align: center; */
        margin: auto 0 0 5% !important;
        /* padding: 20px; */
    }

    .nav-links.active {
        transform: translateY(0);
        opacity: 1;
        visibility: visible;
    }

    .logo {
        flex-direction: row-reverse;
        gap: 50px !important;
    }

    /* Ajustes al navbar cuando está activo */
    .navbar {
        position: fixed;
        width: 100%;
        z-index: 1000;
        padding: 0px 20px;
        background: transparent;
    }

    .icons {
        margin: 10% 0 0 5% !important;
    }

    .language-list{
        top: 37%;
        left: 5%;
      }
      .user-list{
        top: 62%;
        left: 22%;
      }
      
      .download-list{
        top: 41.8%;
        left: 38%; 
      }
      .programs-list {
        top: 30%;
        left: 30%;
      }

      .icons i::after{
        top: 55px !important;
      }

    /* Botón de menú */
    .menu-toggle {
        display: block;
        z-index: 1100;
        font-size: 28px;
        color: white;
        cursor: pointer;
        transition: transform 0.3s ease-in-out;
    }

    /* Efecto de rotación del icono */
    .menu-toggle.active i {
        transform: rotate(180deg);
        transition: transform 0.3s ease-in-out;
    }

    /* Cambiar el icono a una X */
    .menu-toggle.active i::before {
        content: "\f00d"; /* FontAwesome "X" */
    }
    .menu-toggle i {
        font-size: 24px;
        color: white;
      }

    #typewriter {
        width: 95% !important;
        top: 75% !important;
        right: 0;
        text-align: center;
        font-size: 1.4rem !important;
    }
}

@media (min-width: 1450px) {
    .language-list{
        top: 11.5%; /* Ajustamos para que no se superponga con el navbar */
        right: 10.3%; /* Pegado a la izquierda */
      }
      .user-list{
        top: 11.5%; /* Ajustamos para que no se superponga con el navbar */
        right: 6.3%; /* Pegado a la derecha */
      }
      
      .download-list{
        top: 11.5%; /* Ajustamos para que no se superponga con el navbar */
        right: 2.3%; /* Pegado a la derecha */
      }
      .programs-list {
        top: 11.1%;
        left: 43%;
      }
}