@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@200;300&family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;1,100&family=Nova+Round&display=swap');

/* 
font-family: 'Barlow', sans-serif;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Nova Round', cursive; */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    scroll-behavior: smooth;
    scroll-padding-top: 100px;
    font-family: 'Josefin Sans', sans-serif;
    color: #000000;
}

:root{
  --black: #000000;
  --golden: #DFAF50;
  --grey: #b9b9b9;
  --white: #FFFFFF;
  --black2: #00000052;
  --golden2: #dfaf50c9;
}

html, body, main {
    overflow-x: hidden;
    background-color: #000000 !important;
}

html{
  width: 100%;
}

main{
    width: 90%;
    margin: 0 auto;
    background: url('../assets/img/oneway.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70%;
    background-attachment: fixed;
}
body{
    background: url('../assets/img/oneway.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70%;
    background-attachment: fixed;
  }

.visible{
    display: flex !important;
    visibility: visible !important;
}

.hidden{
    display: none !important;
    visibility: hidden !important;
}

/*----- Start Float Buttons -----*/

.btnWsp{
    position: fixed;
    bottom: 60px;
    right: 1.25rem;
    z-index: 1000;
}

.up{
    position: fixed;
    /* line-height: 64px; */
    bottom: 120px;
    right: 30px;
    text-align: center;
    z-index: 1000;
}

.repair{
    display: flex;
    margin: 0 auto;
}

.arrow {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--black);
  border: 2px solid var(--white);
  border-radius: 10px;
  padding: 9px;
}

.arrow .one-way-arrow1{
  width: 30px;
  height: 30px;
  transition: 0.5s;
  cursor: pointer;
  transform: rotate(45deg);
  border-bottom: 12px solid var(--white);
  border-left: 12px solid var(--white);
  z-index: 1;
}
.arrow .one-way-arrow2{
  width: 60px;
  height: 15px;
  background-color: var(--white);
  padding: 2px 25px;
  margin-left: -20px;
  z-index: 2;
}
.arrow .one-way-arrow2 p{
  display: none;
  margin-top: -6px;
  margin-left: -12px;
  font-weight: bold;
}
.rotate{
  transform: rotate(180deg);
}

.section{
  margin: 5% auto;
  padding: 30px 70px;
}

/*----- End Float Buttons -----*/

/*----- Start Header -----*/
/* Estilos del Navbar */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 110px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  background: transparent;
  transition: background 0.3s, color 0.3s;
  z-index: 1000;
}

/* Logo */
.logo img {
  height: 100px;
}

/* Links de navegación */
.nav-links {
  width: 68%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.nav-links a {
  color: var(--white);
  text-decoration: none;
  font-size: 16px;
  padding: 15px;
  transition: background 0.3s, border-radius 0.3s;
}

.nav-links a:hover {
  background: rgba(128, 128, 128, 0.3);
  border-radius: 20px;
  color: var(--white);
}

/* Íconos */
.icons {
  display: flex;
  align-items: center;
  gap: 15px;
  position: relative;
  padding: 0 20px 0 0;
}

.icons i {
  position: relative; /* Permite posicionar correctamente el tooltip */
  color: var(--white);
  font-size: 20px;
  cursor: pointer;
  padding: 15px;
  border-radius: 15px;
  transition: background 0.3s;
}

.icons i:hover {
  background: rgba(128, 128, 128, 0.562);
}

/* Tooltips para los iconos */
.icons i::after {
  content: attr(data-tooltip); /* Extrae el texto del tooltip */
  position: absolute;
  top: -30px; /* Lo coloca arriba del icono */
  left: 50%;
  transform: translateX(-50%);
  background: rgba(50, 50, 50, 0.9);
  color: var(--white);
  font-size: 12px;
  padding: 5px 10px;
  border-radius: 5px;
  white-space: nowrap;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

/* Flecha del tooltip */
.icons i::before {
  left: 50%;
  transform: translateX(-50%);
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

/* Activar tooltip al pasar el mouse */
.icons i:hover::after,
.icons i:hover::before {
  opacity: 1;
  visibility: visible;
}

/* Contenedor del icono de idioma */
.dropdown.language {
  position: relative;
  display: inline-block;
  cursor: pointer;
}
.dropdown.user {
  position: relative;
  display: inline-block;
  cursor: pointer;
}
.dropdown.download {
  position: relative;
  display: inline-block;
  cursor: pointer;
}


/* Lista de idiomas */
.language-list, .user-list, .download-list {
  position: fixed; /* Lo fijamos en la pantalla */
  background: rgba(50, 50, 50, 0.9);
  border-radius: 8px;
  padding: 10px 0;
  list-style: none;
  display: none;
  width: 150px;
  max-height: auto; /* Máxima altura con scroll */
  overflow-y: auto;
  z-index: 1000; /* Aseguramos que esté sobre la sección negra */
}

.language-list{
  top: 13.8%; /* Ajustamos para que no se superponga con el navbar */
  right: 11.9%; /* Pegado a la derecha */
}
.user-list{
  top: 13.8%; /* Ajustamos para que no se superponga con el navbar */
  right: 7.4%; /* Pegado a la derecha */
}

.download-list{
  top: 13.8%; /* Ajustamos para que no se superponga con el navbar */
  right: 2.6%; /* Pegado a la derecha */
}

/* Estilos de cada idioma */
.language-list li, .user-list li, .download-list li {
  padding: 8px 15px;
  text-align: center;
  color: var(--white);
  cursor: pointer;
  transition: background 0.3s ease;
}

.language-list li:hover, .user-list li:hover, .download-list li:hover {
  background: rgba(100, 100, 100, 0.7);
}

/* Mostrar la lista al hacer hover */
.dropdown.language:hover .language-list, .dropdown.user:hover .user-list, .dropdown.download:hover .download-list {
  display: block;
}

/* Navbar con fondo blanco cuando pasa section-black */
.scrolled {
  background: var(--white);
}

.scrolled .nav-links a,
.scrolled .icons i {
  color: black;
}

.menu-toggle {
  display: none;
  font-size: 24px;
  cursor: pointer;
  color: var(--white);
  padding: 8px;
}

/*----- End Header -----*/


/*----- Start Company -----*/
/* .commitment{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.commitment h2{
  margin-top: -30px;
}
.text-commitment{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: justify;
  gap: 30px;
  font-weight: bold;
  background-color: var(--golden2);
  border-radius: 0 20px;
  padding: 15px 20px;
}
.text-commitment img{
  margin: 0 auto; 
  width: 20%; 
  border-radius: 10px;
}
.btn-signUp{
  padding: 15px;
  border-radius: 30px 10px;
  border: 2px solid var(--golden);
  background-color: var(--black);
  color: var(--golden) !important;
  width: 20%;
  text-align: center;
  font-weight: bold;
  transition: .5s all;
  margin-top: 4%;
}
.btn-signUp:hover, .btn-signUp a h4:hover{
  border-radius: 10px 30px;
  border: 2px solid var(--black);
  background-color: var(--golden);
  color: var(--black) !important;
  transition: .5s all;
} */

/*----- End Company -----*/

/*----- Start Wall Street info -----*/

/* .info-wallstreet{
  gap: 30px;
  font-weight: bold;
  background-color: var(--golden2);
  padding: 10px;
  margin: 3% auto;
  text-align: justify;
  border-radius: 0px 20px;
  padding: 15px 20px;
}
.spool{
  width: 95%;
  padding: 16px;
  display: grid;
  place-content: center;
  grid-template-columns: 350px 300px 180px 180px;
  grid-auto-rows: 1fr;
  gap: 15px;
  height: 60vh;
}

.spool2{
  width: 95%;
  padding: 16px;
  display: grid;
  place-content: center;
  grid-template-columns:  180px 180px 300px 350px;
  grid-auto-rows: 1fr;
  gap: 15px;
  height: 60vh;
}

.spool-item{
  border-radius: 16px;
  box-shadow: 0 0 15px 0 var(--black);
  transition: ease-in-out .5s;
}

.spool-item:nth-child(1){
  grid-column: 1/3;
  grid-row: 1/3;
  background: url('../assets/img/wall2.jpg') no-repeat center/cover;
}

.spool-item:nth-child(2){
  grid-column: 3/4;
  grid-row: 1/3;
  background: url('../assets/img/wall1.jpg') no-repeat center/cover;
}

.spool-item:nth-child(3){
  grid-column: 4/5;
  grid-row: 1/3;
  background: url('../assets/img/wall4.jpg') no-repeat center/cover;
}

.spool2 .spool-item:nth-child(1){
  grid-column: 1/2;
  grid-row: 1/3;
  background: url('../assets/img/wall3.jpg') no-repeat center/cover;
}

.spool2 .spool-item:nth-child(2){
  grid-column: 2/3;
  grid-row: 1/3;
  background: url('../assets/img/wall5.jpg') no-repeat center/cover;
}

.spool2 .spool-item:nth-child(3){
  grid-column: 3/5;
  grid-row: 1/3;
  background: url('../assets/img/wall6.jpg') no-repeat center/cover;
}


.spool-item:hover{
  transition: ease-in-out .5s;
  transform: scale(1.3);
} */


/*----- End Wall Street info -----*/

/*----- Start Programs -----*/
/* .hero2 {
  height: 50vh;
  width: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat; 
}

.bg-programs{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50vh;
  background: url('../assets/img/foto2.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  filter: blur(7px);
  z-index: 1;
}

.new-cards{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95%;
  gap: 30px;
  margin: 3% auto;
}

.card-new{
  max-width: 95%;
  width: 33%;
  height: 88vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  gap: 25px;
  background: url('../assets/img/one-wayy.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--golden);
    --m:
    radial-gradient(circle farthest-side at right,#000 99%,#0000) 
      0 100%/46% 92% no-repeat,
    radial-gradient(circle farthest-side at left ,#000 99%,#0000) 
      100% 0/46% 92% no-repeat;
  -webkit-mask: var(--m);
          mask: var(--m);
  filter: grayscale(.5);
  transition: .3s linear;
  cursor: pointer;
}

.card-new:hover{
  -webkit-mask-position: 7.5% 50%,92.5% 50%;
  mask-position: 7.5% 50%,92.5% 50%;
  filter: grayscale(0);
}

.card-new h2{
  text-align: center;
  font-size: 2rem;
}
.card-new ul{
  width: 90%;
}
.card-new li{
  width: 100%;
}

.conten-acces-card{
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  flex-wrap: wrap;
}
.card-acces{
  width: 30%;
  border-radius: 10px;
  box-shadow: 15px 15px 10px var(--black2);
  transition: all .5s;
}
.card-acces:hover{
  box-shadow: -15px -15px 10px var(--golden2);
  transform: scale(1.03);
  transition: all .5s;
}
.card-acces img{
  border-radius: 10px;
}
.card-acces h5{
  margin-top: 5%;
} */

/*----- End Programs -----*/

/*----- Start Services -----*/
/* .services h2{
  text-align: justify;
}
.services div p{
  text-align: justify;
}
.service-confidence{
  display: flex;
  flex-direction: column;
  gap: 35px;
  margin: 5% auto;
}
.confidence{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 100px;
}
.card-confidence{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: justify;
  font-size: 100%;
  gap: 15px;
  padding: 10px;
  width: 32%;
  max-width: 400px;
  height: 65vh;
  max-height: 350px;
  border: 2px solid var(--black);
  border-radius: 30px 10px;
  box-shadow: 5px 5px 10px var(--black);
  background-color: var(--golden2);
  transition: all .5s;
}
.card-confidence:hover{
  transform: scale(1.05);
  transition: all .5s;
}
.card-confidence p{
  max-width: 85%;
  max-height: 30vh;
  font-size: 15px;
}

.icon-confidence{
  border-radius: 70px;
  border: var(--black) solid 4px;
  padding: 20px;
}
.icon-confidence i{
  font-size: 50px;
} */
/*----- End Services -----*/

/*----- Start Testimonials -----*/

/*----- End Testimonials -----*/


/*----- Start Team -----*/
.team{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}
.card {
  margin: 5% auto;
  width: 30%;
  height: auto;
  background: var(--black);
}
.card .image {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.card .image img {
  width: 100%;
  transition: .5s;
}
.card:hover .image img {
  opacity: .5;
  /* transform: translateX(30%);100% */
}
.card .details {
  /* position: absolute; */
  top: 0;
  left: 0;
  width: 70%;/*100%*/
  height: 100%;
  background: transparent;
  transition: .5s;
  transform-origin: left;
  transform: perspective(2000px) rotateY(-90deg);
}
.card:hover .details {
  transform: perspective(2000px) rotateY(0deg);
}
.card .details .center {
  padding: 20px;
  text-align: center;
  background: transparent;
  position: absolute;
  bottom: 5%;
  transform: translateY(-50%);
}
.card .details .center h1 {
  margin: 0;
  padding: 0;
  color: var(--golden);
  line-height: 20px;
  font-size: 20px;
  text-transform: uppercase;
}
.card .details .center h1 span {
  font-size: 14px;
  color: var(--black);
}
.card .details .center p {
  margin: 10px 0;
  padding: 0;
  color: #262626;
}

/*----- End Team -----*/


/*----- Start Contact -----*/

/* #contact{
  margin: 10% auto;
}

.contact{
  display: flex;
}

.form{
  width: 50%;
}

form label{
  color: var(--black) !important;
  letter-spacing: 2px !important;
}

form button{
  background-color: var(--black) !important;
  color: var(--golden) !important;
  font-weight: bold !important;
  font-size: 18px !important;
  border-radius: 10px !important;
  border: 2px solid var(--golden) !important;
}

.line1{
  display: flex;
  justify-content: center;
  margin: 3% auto 8% auto;
  width: 3px;
  height: 25vh;
  background: var(--black);
}

.content-line{
  display: flex;
  justify-content: flex-end;
}
.line{
  margin-top: 2%;
  margin-right: 5%;
  width: 40%;
  border-bottom: 4px solid var(--black);
}

.banner{
  display: flex;
  justify-content: center;
  margin: 0 auto !important;
  padding: 10px;
  width: 90%;
} */
/* .banner img{
  width: 100%;
} */

/*----- End Contact -----*/


/*----- Start Footer -----*/
a {
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease; 
}
a, a:hover {
    text-decoration: none !important; 
}  
.content {
    height: 10vh; 
}  
.footer-20192 {
    margin-top: 20%;
    position: relative;
    color: var(--black);
    padding: 1rem 0;
    background-color: var(--golden2); 
}
.footer-20192 .container {
  position: relative; 
}
.footer-20192 h3 {
  font-size: 16px;
  margin-bottom: 10px;
  margin-top: 0;
  line-height: 1.5; 
  color: var(--black);
}
.footer-20192 .links li {
  margin-bottom: 10px;
  line-height: 1.5;
  display: block; 
}
.footer-20192 .links li a {
  color: var(--black); 
}
.footer-20192 .links li a:hover {
  color: var(--black); 
}
.footer-20192 .social li {
  display: inline-block;
  position: relative; 
}
.footer-20192 .social li a {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: inline-block;
    margin: 0;
    padding: 0;
}
.footer-20192 .social li a i{
  color: var(--black); 
  transition: all .5s;
}
.footer-20192 .social li a i:hover{
  color: var(--black);
  transition: all .5s;
}
.footer-20192 .social li a > span {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); 
}
.footer-20192 .footer-logo {
  color: var(--black);
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: .1rem; 
}
.footer-20192 .copyright, small {
  color: var(--black); 
}
.footer-20192 .cta {
  -webkit-box-shadow: -20px -20px 0 0 var(--golden2);
  box-shadow: -20px -20px 0 0 var(--golden2);
  padding: 20px;
  background-color: var(--golden);
  border-radius: 0 15px 15px 10px;
  border-right: 1px solid var(--black);
  border-bottom: 1px solid var(--black);
  top: -50px;
  position: relative;
  display: flex;
  justify-content: space-between; 
}
.footer-20192 .cta h2, .footer-20192 .cta h3 {
    line-height: 1.5; 
}
.footer-20192 .cta h3 {
    font-size: 20px; 
}

/*----- End Footer -----*/

/* register page */

  .button-buy {
    align-items: center;
    background-color: var(--black);
    border-radius: 999em;
    color: var(--golden);
    display: flex;
    gap: 0.5em;
    justify-content: center;
    padding-block: 0.75em;
    padding-inline: 1em;
    transition: 0.3s;
  }
  
  .button-buy:focus,
  .button-buy:hover {
    background-color: var(--golden);
    color: var(--black);
    font-weight: bold;
    transition: 0.3s;
  }
  
  .button--full {
    inline-size: 100%;
  }
   
  .icon {
    block-size: 1em;
    display: inline-block;
    fill: currentColor;
    inline-size: 1em;
    vertical-align: middle;
  }
