  /* Animación de pulso */
  @keyframes pulse {
    0% { transform: translateX(-50%) scale(1); }
    50% { transform: translateX(-50%) scale(1.2); }
    100% { transform: translateX(-50%) scale(1); }
}

/* Animación para el cursor parpadeante */
@keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: white; }
  }
  #typewriter {
    animation: blink-caret 0.75s step-end infinite;
  }

  /* Linea decorativa */
  .content-line{
    display: flex;
    justify-content: flex-end;
  }
  .line{
    margin-top: 5%;
    margin-right: 5%;
    margin-bottom: 2%;
    width: 40%;
    border-bottom: 4px solid var(--white);
  }

    /* Linea decorativa 2 */
    .content-line2{
      display: flex;
      justify-content: center;
    }
    .line2{
      margin-top: 10%;
      margin-bottom: 2%;
      width: 15%;
      border-bottom: 2px solid var(--black);
      transform: rotate(90deg);
    }